/*        _________________________________________________________*/
html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  padding-top: 40px; }

main {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2em;
  display: inline-block; }
    main section {
    margin: auto; }

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.6em; }

h2 {
  font-size: 1.3em;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

h3 {
  margin: 0;
  display: inline;
  font-size: 1.1em; }

strong {
  font-size: 1.1em;
  font-family: "Book Antiqua", Palatino, serif; }

pre {
  display: inherit;
  font-family: inherit;
  margin: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word; }

button {
  border-style: none;
  vertical-align: middle;
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

button:hover {
  border-style: solid;
  border-width: medium;
  border-color: #FFFFFF; }

nav {
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #A1A1A1; }
    nav .navbuttonsbar {
    position: absolute;
    top: 4px;
    height: 36px;
    right: 0px; }
        nav .navbuttonsbar .barbuttons {
      padding: 5px; }

amp-sidebar {
  width: 250px;
  padding-right: 10px;
  padding-left: 0px;
  font-size: 0.8em; }
    amp-sidebar ul {
    padding-left: 8px; }

amp-social-share[type=whatsapp] {
  background-color: #25D366;
  background-image: url("{{%site.url%}}{{%site.baseurl%}}/assets/images/WhatsApp.svg");
  width: 60px;
  height: 44px; }

.amp-close-image {
  top: 10px;
  left: 10px;
  cursor: pointer;
  margin-bottom: 10px; }

nav li, amp-sidebar li {
  margin-bottom: 6px;
  list-style: none; }
    nav li button, amp-sidebar li button {
    padding: 10px 10px;
    font-weight: bold;
    border-width: medium;
    border-left-style: solid;
    border-left-color: #FFFFFF;
    border-right-style: solid;
    background-color: #ffffff;
    color: #333333;
    box-shadow: none;
    height: 50px;
    width: 100%; }

footer {
  height: 40px;
  width: 100%;
  margin-top: 4px;
  font-size: 14px; }
    footer .followbar {
    height: 100%;
    float: left; }
        footer .followbar div {
      float: left; }
        footer .followbar amp-img {
      width: 54.54545px;
      margin: 0 2px 0 2px;
      float: left;
      height: 40px;
      opacity: 0.7; }
        footer .followbar amp-img:hover {
      box-sizing: border-box;
      opacity: 1;
      border-style: inset;
      border-width: 2px;
      border-color: #ffffff; }
        footer .followbar amp-social-share {
      width: 54.54545px;
      margin: 0 2px 0 2px;
      float: left;
      height: 40px;
      opacity: 0.7; }
        footer .followbar amp-social-share:hover {
      box-sizing: border-box;
      opacity: 1;
      border-style: inset;
      border-width: 2px;
      border-color: #ffffff; }
    footer .sharespacer {
    padding: 3px 0px;
    float: left;
    width: auto; }
    footer .sharespacer.small {
    display: none; }
    footer .barbuttons {
    float: right;
    height: 100%px;
    box-sizing: border-box; }
    footer #phonenumber {
    float: left;
    display: none;
    font-size: 2em;
    margin-top: -1.2em;
    margin-left: -8em;
    background-color: #3f93b1; }
    footer #phoneimg:hover + #phonenumber {
    display: block; }

iframe {
  margin: 0;
  padding: 0;
  border: none; }

blockquote {
  font-style: italic;
  color: #555555;
  border-left: 2px solid #ddd;
  padding-left: 1em; }

/*_________________________________________________________________*/
.hoveropacity {
  opacity: 0.9; }

.hoveropacity:hover {
  opacity: 1; }

.blue {
  background-color: #3f93b1; }

.green {
  background-color: #49b300; }

.red {
  background-color: #ea2634; }

.lightgray {
  background-color: #e6e6e6; }

.midgray {
  background-color: #aaaaaa; }

.boxshadow {
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4); }

.barbuttons {
  float: left;
  margin: 0px 0px;
  padding: 10px 10px;
  border-width: medium;
  background-color: #fff;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-right-style: solid; }

.barbuttons:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  border-bottom-style: none;
  border-top-style: none;
  background-color: #333333;
  box-shadow: none; }

.right {
  float: right; }

.left {
  float: left; }

amp-youtube {
  margin: 0px 0px; }

.clearfix {
  clear: both; }

.navbuttonsbar {
  height: 100%; }

.navbuttonsbar .lastbutton {
  border-right-style: none; }

.lastbutton:hover {
  border-right-style: none; }



.relativepos {
  position: relative; }

.sharespacer {
  height: 34px;
  width: 60px;
  padding-top: 8px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.post {
  max-width: 58em;
  margin: auto; }

.dozentencarousel {
  margin: auto;
}
    .dozentencarousel .imagewrapper {
    width: 19.71831%;
    height: 100%;
    float: left;
    display: inline-block; }
    .dozentencarousel .dozenttext {
    width: 80%;
    height: 100%;
    display: inline-block; }
    .dozentencarousel .dozentquote {
    font-family: "Book Antiqua", Palatino, serif;
    margin-top: 3%;
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-left: 1em; 
  }
    .dozentencarousel .dozentname {
    font-size: 1em; }
    .dozentencarousel .amp-carousel-button {
    opacity: 0.1; }
        .dozentencarousel .amp-carousel-button:hover {
      opacity: 0.9; }
    .dozentencarousel:hover .amp-carousel-button {
    opacity: 0.6; }

.homelink {
  font-size: 0.8em;
  color: darkgray; }

/*______________________________________________________________*/
#topline {
  width: 100%;
  height: 4px; }

#mainheader {
  margin-top: 0px;
  padding: 0;
  padding-top: 10px; }
    #mainheader h2, #mainheader h1 {
    text-align: center;
    padding-bottom: 0.2em;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-bottom: 0px; }
    #mainheader h2 {
    color: #ffffff;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0px; }

#homebt {
  overflow: hidden;
  width: 84px;
  height: 84px;
  border-radius: 42px;
  background-color: #ffffff;
  margin-top: -10px;
  margin-left: -10px;
  padding-top: 10px;
  padding-left: 10px;
  border-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none; }

#homebt:hover {
  border-style: inset;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-width: medium;
  border-color: #333333; }

#AuswahlSection {
  margin: auto;
  margin-top: 0em;
  margin-bottom: 4em; }
    #AuswahlSection button {
    margin: 2px;
    width: 48%;
    line-height: 1.2em;
    height: 10em;
    padding: 16px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff; }

#YoutubeImpressionVid, #YoutubeVorschauImage {
  margin: auto;
  max-width: 1400px;
  width: 70%; }

#socialbar {
  float: left;
  margin: auto;
  width: 10%;
}

#welcometext {
  margin-left: auto;
  margin-right: auto;
  font-family: "Book Antiqua", Palatino, serif; }

#sidebartogglebutton {
  float: right;
  margin: 4px 10px 0px 0px;
  padding: 2px 4px;
  border-style: groove;
  border-width: 2px;
  border-radius: 4px; }
    #sidebartogglebutton:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #333333;
    box-shadow: none; }

#contactform {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 500px;
  height: 410px; }

footer #emailbutton:hover + #contactform + #contactform:hover {
  display: block; }

/* ___________________________________________________________________________________      */
@media (max-width: 1100px) {
    nav button {
    font-size: 0.8em;
    font-weight: bold; }
    nav .navbuttonsbar .barbuttons {
    padding: 7px 5px; } }

@media (max-width: 1050px) {
    #visit .gplus {
    display: none; }
    footer .sharespacer {
    margin: 0; } }

@media (max-width: 960px) {
    footer .sharespacer.big {
    display: none; }
    footer .sharespacer.small {
    display: block; } }

@media (min-width: 870px) {
    #sidebartogglebutton {
    display: none; } }

@media (max-width: 869px) {
    .navbuttonsbar {
    display: none; }
    nav {
    height: 50px;
    background-color: transparent;
    border-bottom-style: none; }
    body {
    padding-top: 50px; }
    main {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%; }
    .fullwidthtextbar {
    margin-left: -1.9%;
    margin-right: -1.9%;
    padding: 1em 4% 1em 4%; }
    .post-title {
    text-align: center;
    margin-top: 0px; }
    #homebt {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
    padding-top: 5px; } }


@media (max-width: 750px) {
    #share .gplus {
    display: none; } }

@media (max-width: 690px) {
    footer .youtube {
    display: none; }
    .dozentencarousel .dozentquote {
    margin-top: 0.8em;
    margin-bottom: 0.8em; } }

@media (max-width: 630px) {
    #visit {
    display: none; }
    h1 {
    font-size: 1.4em; }
    h2 {
    font-size: 1.2em; } }

@media (max-width: 490px) {
    footer .sharespacer {
    display: none; }
    footer .sharespacer.small {
    display: none; }
    body {
    font-size: 0.8em; }
    .dozentencarousel .dozentquote {
    font-size: 1.2em; } }

@media (max-width: 420px) {
    #AuswahlSection button {
    padding: 2px; }
    #welcometext {
    font-size: 0.8em; } }

@media (max-width: 360px) {
    footer .barbuttons {
    font-size: 10px;
    padding: 12px 0px; }
    #AuswahlSection button {
    font-size: 0.8em;
    width: 96%; } }

#shortintros article {
  margin-bottom: 2em; }

/*# sourceMappingURL=styles.css.map */